<div class="container-fluid" style="background-color: #C4A05B" class="border shadow">
    <div class="row p-4 ">
        <div class="col">
            <h3 class="text-light">
                <img src="../assets/bricon3.png" style="height: 105px;" alt="">

            </h3>
            <p></p>
        </div>
        <div class="col ">
            <h2 class="text-dark">Links</h2>
            <a routerLink="/wish" class="text-dark d-block text-decoration-none fnt">Home</a>
             <a routerLink="/log" class="text-dark d-block text-decoration-none fnt ">Login</a>
            <a routerLink="/reg" class="text-dark d-block text-decoration-none fnt">Register</a>
            <a routerLink="/cart" class="text-dark d-block text-decoration-none fnt">Favourites</a>
     </div>
        <div class="col">
            <h2 class="text-dark">References</h2>
            <a href="https://getbootstrap.com" class="text-dark d-block text-decoration-none fnt">Bootstrap</a>
            <a href="https://fontawesome.com" class="text-dark d-block text-decoration-none fnt">Fontawesome</a>

        </div>
        <div class="col">
            <h2 class="text-dark">Contact Us</h2>
            <div>
                <input type="text" placeholder="Enter your Email Id" class="form-control">
                <button class="button-81 mt-3">Submit</button>
            </div>
  
        </div>

    </div>
    <p class="text-center text-dark mt-5">BookiSh 2024 &copy; copyrights reserved</p>
</div>

