
<div class="w-100 sh  " style="height: 90vh;">
  <div class="row w-100 mb-2 " style="height: 740px;" >
        
    <div class="col-lg-6 p-3 pt-4 mt-5 text-center">
      <h1 class="mt-5 mb-5 text-center cl">Sign In</h1>
      <form action="" [formGroup]="logForm" (ngSubmit)="getFormData()">
        
            <div class="form-floating ms-5 me-5 mb-5 mt-4 w-70">
              <input type="email" formControlName="email" class="form-control" id="floatingEmailInput" placeholder="name@example.com">
              <label for="floatingInput">Email address</label>
              <div class="text-danger" *ngIf="logForm.get('email')?.invalid && logForm.get('email')?.touched" >
                *Enter Valid Email
              </div>
            </div>
            <div class="form-floating ms-5 me-5 mb-4 mt-3 w-70">
              <input type="password" formControlName="password"  class="form-control" id="floatingPassword" placeholder="Password">
              <label for="floatingPassword">Password</label>
              <div class="text-danger" *ngIf="logForm.get('password')?.invalid && logForm.get('password')?.touched" >
                *Enter Valid Password
              </div>
            </div>
            
            <div class="mt-3 d-flex justify-content-center">
              <button class="button-59 btn-lg mt-3" style="font-size: 23px;" [disabled]="logForm.invalid" >Sign In</button>
              <a  class="text-decoration-none pt-3 mt-3 ms-2" routerLink="/reg" style="font-size: 18px;color: #C4A05B;">New User?</a>
            </div>
      </form>

  </div>

        <div class="col-lg-6 pt-4 " style="border-radius:130px 0 0  385px;background-color:  #C4A05B;">
            <h2 class="text-center mt-5 cl text-light">New here?</h2>
            <h5 class="text-center mt-4 ms-5 me-5 prg text-light">Join our book recommendation community today!!The perfect place to find your next <span class=" cl ">BOOK!</span></h5>
            <div class="d-flex justify-content-center">
              <button class="button-81 mt-5" routerLink="/reg" >SIGN UP</button>

          </div>
          <br> <br>
          <div class="d-flex justify-content-center">
              <img src="https://static.vecteezy.com/system/resources/previews/019/616/868/original/woman-reading-book-png.png" class="img-fluid "  style="height: 390px;" alt="">

          </div>
        </div>

    </div>

</div>



